.btnNovaConsulta {
    border-radius: 10px;
    background: #008080;
    width: 185px;
    height: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.btnNovaConsulta:hover {
    background: #127171;
    cursor: pointer;
}