table {
    border-collapse: collapse;
    border-radius: 15px;
    width: 850px;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background: #53e9dc33;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  td, th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  tbody tr:nth-child(even) {
    background-color: #f5e2e2;
  }