.animal {
    display: flex;
    list-style-type: none;
}

.animal li {
    padding: 0 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.card-animal {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    margin-top: 30px;
}

.card-animal__inicial { 
    border: 1px solid;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 250px;
    height: 206px;
    margin-bottom: 44px;
    text-align: center;
}

.card-animal__inicial img {
    margin-top: 50px;
}

.card-animal__infos {
    border: 1px solid;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 215px;
    height: 206px;
}

.card-animal__infos li {
    margin-left: 30px;
    padding: 5px;
}